{
  "parserOptions": { "project": "./tsconfig.json", "createDefaultProgram": true },
  "extends": [
    "standard-with-typescript",
    "prettier",
    "prettier/@typescript-eslint"
  ],
  "rules": {
    "import/no-duplicates": "off",
    "@typescript-eslint/no-extraneous-class": "off",
    "@typescript-eslint/explicit-function-return-type": "warn"
  }
}
