.inventory-details {
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__nav {
    display: flex;

    & > *:not(:last-child) {
      margin-right: 15px;
    }
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 25px;
  }

  &__item {
    margin: 3px;
  }
}
