<div fxLayout="column" fxLayoutGap="20px">
  <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="space-between center" fxLayoutGap="20px">
    <div fxLayout="column" fxLayoutAlign.lt-sm="center center">
      <div>
        <span class="mat-small">Count: </span>
        <span>{{ inventory.count }}</span>
      </div>
      <div>
        <span class="mat-small">Worth: </span>
        <span>{{ inventory.worth | currency }}</span>
      </div>
    </div>
    <nav fxLayout="row wrap" fxLayoutGap="10px" fxLayoutAlign="center center">
      <ng-container *ngIf="inventory.id">
        <button mat-stroked-button (click)="inventoryShow.emit(inventory.id)">Show</button>
        <button mat-stroked-button (click)="inventoryRefresh.emit(inventory.id)">Refresh</button>
        <button mat-stroked-button color="warn" (click)="inventoryDelete.emit(inventory.id)">Delete</button>
      </ng-container>
      <ng-container *ngIf="!inventory.id">
        <button mat-stroked-button (click)="inventoryAdd.emit()">Add</button>
      </ng-container>
    </nav>
  </div>

  <div *ngIf="inventory.items && inventory.items.length > 0" fxLayout="row wrap" fxLayoutAlign="center center">
    <app-item-details
      *ngFor="let inventoryItem of inventory.items"
      [item]="inventoryItem.item"
      [quantity]="inventoryItem.quantity"
      style="margin: 3px;"
    ></app-item-details>
  </div>
</div>
