{
  "parserOptions": { "project": "./tsconfig.json", "createDefaultProgram": true },
  "extends": [
    "eslint-config-standard-with-typescript",
    "eslint-config-prettier",
    "eslint-config-prettier/@typescript-eslint"
  ],
  "rules": {
    "@typescript-eslint/no-extraneous-class": "off",
    "@typescript-eslint/no-floating-promises": "warn",
    "@typescript-eslint/strict-boolean-expressions": "warn"
  }
}
