@import '../../../../styles/variables';

.bot-details {
  padding: 20px;
  border: 1px solid rgba($light, 0.25);
  background: rgba($light, 0.025);

  &__name {
    font-size: mat-font-size($typography-config, headline);
  }

  &__loign,
  &__steamid {
    font-size: mat-font-size($typography-config, caption);
  }
}
