@import '../../../../styles/variables';

.bot-details {
  padding: 25px;
  border: 1px solid rgba($light, 0.25);
  background: rgba($light, 0.025);

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__id {
    display: flex;
    flex-direction: column;
  }

  &__name {
    font-size: mat-font-size($typography-config, headline);
  }

  &__loign,
  &__steamid {
    font-size: mat-font-size($typography-config, caption);
  }

  &__checks {
    margin-top: 5px;
  }

  &__nav {
    display: flex;

    & > *:not(:last-child) {
      margin-right: 15px;
    }
  }

  &__inventory {
    display: block;
    margin-top: 25px;
  }
}
