.bot-details {
  padding: 20px;
}

@mixin bot-details-typography($typography-config) {
  .bot-details {
    &__name {
      font-size: mat-font-size($typography-config, headline);
    }

    &__loign,
    &__steamid {
      font-size: mat-font-size($typography-config, caption);
    }
  }
}

@mixin bot-details-theme($theme) {
  $text-color: map-get(map-get($theme, foreground), base);

  .bot-details {
    border: 1px solid rgba($text-color, 0.25);
    background: rgba($text-color, 0.025);
  }
}
