<ng-container *ngIf="!loading">
  <div fxLayout="column" fxLayoutGap="20px">
    <app-bot-details
      *ngFor="let bot of bots"
      [bot]="bot"
      (botEdit)="botEdit.emit($event)"
      (botDelete)="botDelete.emit($event)"
    ></app-bot-details>

    <div fxLayoutAlign="center center">
      <a mat-button (click)="botAdd.emit()">
        <mat-icon>add</mat-icon>
        Add Bot
      </a>
    </div>
  </div>
</ng-container>

<div *ngIf="loading" fxLayoutAlign="center center">
  <mat-spinner></mat-spinner>
</div>
