.item-details {
  position: relative;
  display: inline-flex;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  border-bottom-width: 5px;

  &::before {
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    overflow: hidden;
    width: 0;
    height: 0;
    content: '';
    border-radius: 50%;
    box-shadow: 0 0 40px 10px currentColor;
  }

  &__icon {
    width: 80px;
    height: 70px;
    object-fit: contain;
  }

  &__price {
    margin-top: 5px;
  }
}

@mixin item-details-typography($typography-config) {
  .item-details {
    font-size: mat-font-size($typography-config, caption);
  }
}

@mixin item-details-theme($theme) {
  $primary: mat-color(map-get($theme, primary));
  $gold: mat-color($mat-yellow, 500);

  .item-details {
    border: 2px solid $primary;

    &__price {
      color: $gold;
    }
  }
}
