@import 'theme';

.bot-details {
  padding: 20px;
  border: 1px solid $border-color;
  box-shadow: $box-shadow;

  &__name {
    font-size: mat-font-size($typography-config, headline);
  }

  &__loign,
  &__steamid {
    font-size: mat-font-size($typography-config, caption);
  }
}
