@import 'variables';

@include mat-core($typography-config);
@include angular-material-theme($dark-theme);

.mat-stroked-button,
.mat-button,
.mat-flat-button,
.mat-form-field-flex {
  border-radius: 0 !important;
}

.mat-tab-body-content {
  padding-top: 20px;
}

.mat-snack-bar-container {
  color: rgba(255, 255, 255, 0.7);
  background: #323232;
}
