@import 'mixins';

$font-stack: 'Roboto', 'Helvetica Neue', sans-serif;
$typography-config: mat-typography-config($font-stack);

$primary: mat-palette($mat-blue);
$accent: mat-palette($mat-blue-gray);

// override default dark theme background
$mat-dark-theme-background: map-merge(
  $mat-dark-theme-background,
  (
    background: #171717,
  )
);

$theme: mat-dark-theme($primary, $accent);

$primary-color: mat-color($primary);
$accent-color: mat-color($accent);

$background: map-get($theme, background);
$foreground: map-get($theme, foreground);

$text-color: map-get($foreground, base);
$background-color: map-get($background, background);
$text-reversed-color: $background-color;
$background-reversed-color: $text-color;

$border-color: mat-color($foreground, divider);
$box-shadow: 0 1px 5px 0 rgba($border-color, 0.05);
