@import 'theme';

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

a {
  color: inherit;
}

.mat-stroked-button,
.mat-button,
.mat-flat-button,
.mat-form-field-flex,
.mat-dialog-container {
  border-radius: 0 !important;
}

.mat-tab-body-content {
  padding-top: 20px;
}
