@import 'theme';
@import 'variables';

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: $font-stack;
  margin: 0;
  color: $light;
  background: $dark;
}

a {
  color: inherit;
}
