@import 'theme';

@include material-core($typography-config);
@include material-theme($theme);

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

a {
  color: inherit;
}

img {
  vertical-align: middle;
}

.container {
  width: 100%;
  max-width: 1140px;
  margin: 20px auto;
  padding: 0 20px;
}

.mat-stroked-button,
.mat-button,
.mat-flat-button,
.mat-form-field-flex,
.mat-dialog-container {
  border-radius: 0 !important;
}

.mat-tab-body-content {
  padding-top: 20px;
}
