<form (ngSubmit)="submit()" [formGroup]="form" fxLayout="column" fxLayoutGap="20px">
  <h3 class="mat-headline">Add Inventory</h3>
  <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="20px">
    <mat-form-field fxFlex="grow">
      <mat-label>AppID</mat-label>
      <input type="number" formControlName="appId" matInput />
      <mat-error>{{ getControlErrorMessage('appId') }}</mat-error>
    </mat-form-field>
    <mat-form-field fxFlex="grow">
      <mat-label>ContextID</mat-label>
      <input type="number" formControlName="contextId" matInput />
      <mat-error>{{ getControlErrorMessage('contextId') }}</mat-error>
    </mat-form-field>
  </div>
  <div fxLayout="column">
    <button color="primary" mat-flat-button mat-lg-button [disabled]="adding">Submit</button>
    <mat-progress-bar *ngIf="adding" mode="indeterminate"></mat-progress-bar>
  </div>
</form>
