name: Server CI

on: 
  pull_request:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [8.x, 10.x, 12.x]
    steps:
    - name: Checkout repository
      uses: actions/checkout@v1
    - name: Use Node.js
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - name: Install dependencies
      working-directory: server
      run: npm install
    - name: Lint
      working-directory: server
      run: npm run lint
    - name: Build
      working-directory: server
      run: npm run build
